@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
$color: #012b84;
*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
.welcome__main__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  margin-top: 10em;
}
.welcome__main__container__overlay__bg {
  width: 100%;
  position: relative;
}
.welcome__main__container__overlay__bg svg {
  background-color: rgba(1, 43, 132, 0.17);
  height: 400px;
  width: 400px;
  border-radius: 180px;
  position: absolute;
  top: -10em;
  left: -13em;
  z-index: -1;
  opacity: 0.2;
  // animation: rotate 10s linear infinite;
  // background shadow
  box-shadow: 0 0 20px 20px rgba(1, 43, 132, 0.2);
}
.welcome__main__container__overlay__bottom {
  width: 100%;
  position: relative;
}
.welcome__main__container__overlay__bottom svg {
  background-color: rgba(1, 43, 132, 0.17);
  height: 400px;
  width: 400px;
  border-radius: 220px;
  position: absolute;
  bottom: 0;
  right: 0em;
  z-index: -0.5;
  opacity: 0.2;
  // animation: rotate 10s linear infinite;
  // background shadow
  box-shadow: 0 0 20px 20px rgba(1, 43, 132, 0.2);
}

.welcome__main__container__content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: -1;
}
.welcome__main__container__content__title {
  font-size: 20px;
  font-weight: 700;
  color: #012b84;
  margin-bottom: 0.5em;
}
.welcome__main__container__content__heading {
  font-size: 45px;
  font-weight: 800;
  color: #1e1e1e;
  margin-bottom: 0.5em;
  width: 50%;
  align-items: center;
  line-height: 54px;
  color: #1e1e1e;
}
.welcome__main__container__content__heading span {
  color: $color;
}
.welcome__main__container__content__sub__heading {
  font-weight: 600;
  font-size: 18px;
}
.welcome__main__container__img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em 0em;
  padding: 1em 0em;
  z-index: -1;
}
.welcome__main__container__img img {
  width: 100%;
  max-width: 800px;
  object-fit: cover;
  padding: 1em;
  // object-position: center;
}
.welcome__detail__sub__text__container__over {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
}
.welcome__detail__sub__text__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1300px;
  margin: 0 auto;
  padding: 1em 2em;
  border-radius: 20px;
  border: 0.5px solid rgba(67, 66, 66, 0.4);

  background: linear-gradient(
    180deg,
    rgba(1, 43, 132, 0) 0%,
    rgba(1, 43, 132, 0.1) 100%
  );

  position: relative;
}
.welcome__detail__cir {
  border-radius: 56px;
  background: linear-gradient(180deg, #4e86ff 0%, #012b84 100%);

  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.26) inset,
    0px 5px 9px 0px rgba(0, 0, 0, 0.22);
  width: 40px;
  height: 40px;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.welcome__detail__sub__text__container__text__wraper {
  padding: 1em 0em;
  width: 90%;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
}
.Merchants__card__continer__over {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
}
.Merchants__card__continer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2em 0em;
  max-width: 1366px;
  margin: 0 auto;
  margin-top: 5em;
}
.Merchants__card__wraper {
  width: 50%;
  min-width: 600px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background: #fefeff;
  margin: 1em 0em;
  box-shadow: 0px 13px 21px 0px rgba(0, 0, 0, 0.12);
}

.Merchants__card__wraper__col {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  // padding: 0em 2em;
  padding-left: 2em;
}
.Merchants__card__wraper__col__heading {
  font-size: 30px;
  font-weight: 800;
  color: $color;
  padding-top: 1em;
  margin-bottom: 0.5em;
  text-align: left;
}
.Merchants__card__wraper__col__subheading {
  font-size: 16px;
  margin-bottom: 0.5em;
  text-align: left;
  line-height: 22px;
}
.Merchants__card__wraper__col__img {
  width: 100%;
  max-width: 300px;
  object-fit: cover;
  object-position: right;
}
.join__card__container__over {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1366px;
  margin: 0 auto;
  padding: 1em;
}
.join__card__container {
  background-image: url(../assets/join__img.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;

  border-radius: 12px;
  margin-top: 3em;
  margin-bottom: 3em;
}
.join__card__container__text__wraper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2em 0em;
  color: white;
}
.join__card__container__text__heading {
  font-size: 38px;
  font-weight: 800;
  color: $color;
  text-align: center;
  color: white;
  width: 100%;
  padding: 1em;
}
.join__card__container__text__overlay__heading {
  font-size: 14px;
  color: #cdcdcd;
  margin: 1em 0em;
}
.join__card__container__text__subheading {
  font-size: 20px;
  font-weight: 500;
}
.join__container__btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2.5em 0em;
}
.join__container__btn__button {
  width: 260px;

  background: #ffffff;
  border-radius: 60px;
  padding: 0.7em 0em;
  color: $color;
  font-size: 15px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: 300ms ease-in-out;
  border: 1px solid $color;
}
.join__container__btn__button:hover {
  background: $color;
  color: white;
  transition: 300ms ease-in-out;
  border: 1px solid white;
}
.solution__main__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1366px;
  margin: 0 auto;
  padding: 2em 1em;
}
.solution__main__container__heading {
  font-size: 38px;
  font-weight: 800;
  color: $color;
  margin-top: 1em;
  padding-bottom: 2em;
}
.solution__main__container__wraper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.solution__main__wraper__col:last-child {
  align-items: flex-end;
}
.solution__main__wraper__col {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 1em;
}
.solution__main__wraper__text {
  font-size: 30px;
  font-weight: bold;
  color: $color;
}
.solution__main__wraper__subtext {
  font-size: 30px;
  font-weight: bold;
  margin: 0.4em 0em;
}
.solution__content__btn {
  color: $color;
  font-weight: bold;
  font-size: 17px;
  margin: 1em 0em;
  transition: 300ms ease-in-out;
  cursor: pointer;
}
// .solution__content__btn:hover {
//   background: white;
//   color: $color;
//   transition: 300ms ease-in-out;
// }
.solution__main__wraper__detail {
  font-size: 16px;
  line-height: 20px;
  text-align: justify;
  padding-right: 1em;
}
.solution__main__wraper__col__img {
  width: 100%;
  // max-width: 400px;
  object-fit: cover;
  padding: 2em;
}
.Automatic__card__container__col:nth-child(2) {
  margin-top: 6em;
  // position: absolute;
}
.Automatic__card__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1366px;
  margin: 0 auto;
  flex-wrap: wrap;
  margin-top: 3em;
  padding: 1em;
}
.Automatic__card__container__col {
  width: 28%;
  // background-color: #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Automatic__col__card__wraper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 245.534px;
  background: #fff;
  max-width: 270px;
  padding: 3em 1em;
  box-shadow: 0px 6px 36px 0px rgba(0, 0, 0, 0.14);
  margin-bottom: 1em;
}
.Automatic__col__card__wraper__heading {
  font-size: 20px;
  font-weight: bold;
  padding: 0.5em 0em;
  text-align: center;
}
.Automatic__col__card__wraper__subheading {
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  color: #434242;
  padding: 0.5em;
  margin-bottom: 3em;
}
.Automatic__col__card__wraper__svg {
  padding: 1em 0em;
}
.Automatic__col__card__wraper__svg svg {
  width: 100px;
  height: 100px;
}
.Automatic__card__container__col__text {
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  color: #434242;
  padding: 0.5em;
  margin-bottom: 1em;
}
.Automatic__card__container__col__text__upper {
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  color: #434242;
  padding: 0.5em 3em;
  display: none;
  width: 100%;
  // max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.scan__main__ovelay {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  margin-top: 3em;
  margin-bottom: 3em;
}
.scan__main__container__bg {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 2em 3em;
  border-radius: 39px;
  border: 0.5px solid rgba(67, 66, 66, 0.103);
  position: relative;

  background: linear-gradient(
    180deg,
    rgba(1, 43, 132, 0) 0%,
    rgba(1, 43, 132, 0.1) 100%
  );
}
.scan__main__container__bg__img__left {
  position: absolute;
  top: -4em;
  left: 0;
}
.scan__main__container__bg__img__right {
  position: absolute;
  bottom: -4em;
  right: 1em;
}
.scan__main__container__bg__img__right img {
  width: 120px;
}
.scan__main__container__bg__img__left img {
  width: 120px;
}
.scan__main__container__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1em 4em;
}
.scan__main__container__content__heading {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
.scan__main__container__content__subheading {
  font-size: 18px;
  margin-top: 1em;
  text-align: center;
}
.auto__under__text__over {
  background: rgba(1, 43, 132, 0.15);
  width: 100%;
  margin: 1em 0em;
}
.auto__under__text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  max-width: 1366px;
  padding: 1em;
}
.benefits__contaniner__over {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
  position: relative;
  max-width: 1366px;
  margin: 0 auto;
  margin-top: 4em;
}
.benefits__contaniner__over__svg {
  position: absolute;
  top: -4em;
  left: -6em;
}
.benefits__contaniner__over__svg svg {
  width: 600px;
  height: 700px;
}
.benefits__contaniner__main {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1366px;
  margin: 0 auto;
}
.benefits__contaniner__main__left {
  width: 50%;
  font-size: 32px;
  font-weight: 700;
  width: 500px;
}
.benefits__contaniner__main__left span {
  color: $color;
  line-height: 0.8;
}
.benefits__contaniner__main__right {
  width: 50%;
  font-size: 14px;
  line-height: 22px;
  max-width: 450px;
}
.benefits__cards__container__wrparper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  max-width: 1366px;
  margin: 0 auto;
  margin-top: 3em;
  flex-direction: column;
}

.benefits__cards__wraper__card__over {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 19px;
  margin: 0.5em 0em;
  // background: rgba(46, 45, 45, 0.247);
  // background: linear-gradient(
  //   90deg,
  //   rgba(31, 30, 30, 0.452) 0%,
  //   rgba(255, 252, 248, 1) 100%
  // );
  // padding: 1px 1px 2px 1px;
}
.benefits__cards__wraper__card {
  padding: 1em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 19px;
  // background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.247);
}
.benefits__cards__wraper__card__number {
  font-size: 55px;
  font-weight: 700;
  opacity: 0.4;
  background: linear-gradient(180deg, #012b84 0%, rgba(1, 43, 132, 0) 95.83%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.benefits__cards__wraper__card__text {
  font-size: 16px;
  color: #434242;
  padding: 0em 2em;
}
.about__main__containe__overlay {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  margin-top: 12em;
  margin-bottom: 4em;
}
.about__main__wraper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
  position: relative;
  max-width: 1366px;
  margin: 0 auto;
  margin-top: 4em;
}
.about__main__wraper__heading {
  font-size: 38px;
  font-weight: 800;
  text-align: center;
  color: $color;
  margin-bottom: 2em;
}
.about__main__wraper__content__row {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.about__main__wraper__content__col {
  flex: 1;
  text-align: left;
}
.about__main__wraper__content__col__text {
  line-height: 24px;
  font-size: 17px;
  padding-right: 3em;
}

.about__main__wraper__content__col span {
  color: $color;
  font-weight: 600;
}
.about__main__wraper__content__col__image {
  width: 100%;
  max-width: 600px;
}
.simplicity__main__ovrlay {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4em 0em;
  background-image: url("../assets/simbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  flex-direction: column;
}
.simplicity__main__ovrlay__wrpaer {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0em 1em;
  position: relative;
}
.simplicity__main__ovrlay__wrpaer__upper {
  font-size: 38px;
  font-weight: 800;
  color: black;
  margin-bottom: 1.5em;
  color: $color;
}
.simplicity__main__ovrlay__wrpaer :nth-child(3) {
  margin-top: 14em;
}
.simplicity__main__col__sub__text {
  line-height: 20px;
}
.simplicity__main__col {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.simplicity__main__col__text {
  width: 100%;
}
.simplicity__main__col__text__heading {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 0.4em;
}
.simplicity__main__col__text__subheading {
  font-size: 18px;
  line-height: 22px;
}
.simplicity__main__col__image {
  width: 100%;
  max-width: 600px;
  object-fit: cover;
}
.simplicity__cards__contrainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1366px;
  margin: 0 auto;
  position: relative;
  margin-bottom: -12em;
  padding: 1em;
}
.simplicity__cards__overlay {
  width: 100%;
  max-width: 340px;
  min-height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 245.534px;
  background: #fff;
  box-shadow: 0px 6px 36px 0px rgba(0, 0, 0, 0.14);
  margin: 1em 0em;
}
.simplicity__cards__overlay__content {
  border-radius: 245.534px;
  border: 1px solid rgba(1, 43, 132, 0.5);
  padding: 3em 2em;
  margin: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  min-height: 450px;
}
.simplicity__cards__content__num {
  opacity: 0.4;
  font-weight: 900;
  background: linear-gradient(180deg, #012b84 0%, rgba(1, 43, 132, 0) 95.83%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
}
.simplicity__cards__content__heading {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.simplicity__cards__content__sub__heading {
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 2em;
  text-align: center;
}
.get__start__content__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em;
  background-image: url(../assets/getstart.png);
  border: 1px solid rgba(63, 62, 62, 0.158);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1366px;
  margin: 0 auto;
  border-radius: 30px;
}
.get__start__over {
  width: 100%;
  padding: 4em 1em;
}
.get__start__content__container__text {
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 0em 1em;
}
.get__start__content__container__text__heading {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 0em;
}
.get__start__content__container__text__sub__heading {
  font-size: 30px;
  color: $color;
  font-weight: 800;
}
.get__start__content__container__btn {
  width: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: end;
}
.get__start__content__container__btn__button {
  padding: 0.8em 1.6em;
  background-color: $color;
  color: white;
  border-radius: 30px;
  font-weight: 600;
  transition: 300ms ease-in-out;
  cursor: pointer;
  margin-top: 3em;
  border: 1px solid $color;
  margin-right: 4em;
}
.get__start__content__container__btn__button:hover {
  background-color: #fff;
  color: $color;
  border: 1px solid $color;
  transition: 300ms ease-in-out;
}
@media (max-width: 1250px) {
  .get__start__content__container__text {
    width: 100%;
  }
  .about__main__wraper__content__row {
    flex-direction: column-reverse;
  }
  .about__main__wraper__content__col {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about__main__wraper__content__col__image {
    padding-bottom: 4em;
  }
  .Automatic__card__container {
    justify-content: space-between;
  }
  .welcome__main__container__content__heading {
    width: 80%;
  }
  .solution__main__wraper__col__img {
    padding: 0em;
  }
}
@media (max-width: 900px) {
  .Automatic__card__container {
    margin-top: 1em;
  }
  .Automatic__card__container__col__text {
    display: none;
  }
  .Automatic__card__container__col__text__upper {
    display: flex;
  }
  .get__start__content__container__text__heading {
    font-size: 26px;
  }
  .get__start__content__container__text__sub__heading {
    font-size: 24px;
  }
  .get__start__content__container__btn__button {
    margin-right: 0em;
  }
  .simplicity__main__ovrlay__wrpaer :nth-child(3) {
    margin-top: 1em;
    width: 100%;
    max-width: 700px;
    text-align: center;
  }
  .simplicity__main__ovrlay__wrpaer {
    flex-direction: column;
  }
  .simplicity__main__col__image {
    max-width: 400px;
    object-fit: cover;
    padding: 3em 0em;
  }
  .benefits__contaniner__main {
    flex-direction: column;
  }
  .scan__main__container__bg {
    padding: 2em 1em;
  }
  .scan__main__container__content {
    padding: 1em 0em;
  }
  .scan__main__container__content__heading {
    font-size: 24px;
  }
  .scan__main__container__content__subheading {
    font-size: 16px;
  }
  .Automatic__card__container__col {
    min-width: 300px;
  }
  .Automatic__card__container__col:nth-child(2) {
    margin-top: 0em;
  }

  .Automatic__card__container__col {
    width: 40%;
  }
  .solution__main__container__wraper {
    flex-direction: column-reverse;
  }
  .solution__main__wraper__col__img {
    max-width: 600px;
    margin: 1em 0em;
  }
  .solution__main__wraper__text {
    margin-top: 1em;
  }
  .solution__main__container__heading {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 1em;
  }
  .welcome__main__container__content__heading {
    width: 100%;
    font-size: 30px;
    line-height: 35px;
    margin: 0.5em 0em;
    // padding: 2em;
  }
  .welcome__detail__sub__text__container__text__wraper {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .simplicity__main__ovrlay__wrpaer__upper {
    font-size: 30px;
  }
  .get__start__content__container {
    flex-direction: column;
  }
  .get__start__content__container__btn {
    align-items: center;
    justify-content: center;
  }
  .get__start__content__container__text {
    align-items: center;
  }
  .benefits__contaniner__main__right {
    width: 100%;
  }
  .benefits__contaniner__over__svg {
    display: none;
  }

  .benefits__contaniner__main__right {
    margin-top: 1em;
  }
  .benefits__contaniner__main__left {
    width: 100%;
    margin-bottom: 0.4em;
  }
}

@media (max-width: 600px) {
  .simplicity__main__col__text__subheading {
    font-size: 16px;
  }

  .simplicity__main__ovrlay__wrpaer__upper {
    margin-bottom: 0.5em;
  }
  .benefits__cards__wraper__card__over {
    padding: 1px;
  }
  .simplicity__main__col__text {
    text-align: center;
  }
  .auto__under__text {
    text-align: center;
  }
  .Automatic__col__card__wraper {
    padding: 1em;
    max-width: 250px;
  }
  .get__start__content__container__text__heading {
    font-size: 15px;
    text-align: center;
  }
  .get__start__content__container__btn__button {
    margin-top: 1em;
    padding: 0.4em 1em;
  }
  .simplicity__cards__overlay {
    width: 290px;
  }
  .get__start__content__container__text__sub__heading {
    font-size: 26px;
  }
  .simplicity__cards__contrainer {
    justify-content: center;
  }
  .simplicity__cards__content__heading {
    font-size: 20px;
  }
  .simplicity__cards__content__sub__heading {
    font-size: 14px;
  }
  .footer__main__content__right {
    width: 100%;
  }
  .footer__main__content__right__subheading {
    font-size: 16px;
  }
  .about__main__wraper__content__col__text {
    padding-right: 0em;
  }
  .about__main__wraper__heading {
    font-size: 30px;
  }
  .benefits__cards__wraper__card {
    flex-direction: column;
  }
  .benefits__contaniner__main__left {
    font-size: 24px;
  }
  .benefits__cards__wraper__card__text {
    padding: 0em;
  }
  .benefits__cards__wraper__card__number {
    margin-bottom: 0.4em;
  }
  .scan__main__container__content__heading {
    font-size: 24px;
  }
  .scan__main__container__content__subheading {
    font-size: 14px;
    line-height: 20px;
  }
  .scan__main__container__bg__img__left {
    top: -3em;
  }
  .scan__main__container__bg__img__right {
    bottom: -3em;
  }
  .scan__main__container__bg__img__left img {
    width: 90px;
  }
  .scan__main__container__bg__img__right img {
    width: 90px;
  }
  .Automatic__card__container__col {
    width: 100%;
  }
  .Merchants__card__wraper__col:last-child {
    align-items: end;
    padding: 0em;
  }
  .Merchants__card__wraper__col__img {
    max-width: 170px;
  }
  .solution__main__wraper__text {
    font-size: 24px;
  }
  .solution__main__wraper__subtext {
    font-size: 22px;
  }
  .join__card__container__text__heading {
    font-size: 22px;
  }
  .join__card__container__text__subheading {
    font-size: 16px;
    text-align: center;
    padding: 0.4em;
  }
  .join__card__container__text__overlay__heading {
    font-size: 12px;
  }
  .Merchants__card__wraper {
    width: 100%;
    min-width: auto;
    flex-direction: column-reverse;
  }
  .Merchants__card__wraper__col__heading {
    font-size: 20px;
  }
  .Merchants__card__wraper__col__subheading {
    font-size: 14px;
    padding-right: 0.4em;
  }
  .Merchants__card__wraper__col__img {
    transform: rotate(180deg);
  }
  .Merchants__card__wraper__col {
    padding-left: 1em;
  }
  .solution__main__wraper__detail {
    padding-right: 0em;
  }
  .welcome__main__container__content__heading {
    font-size: 22px;
    line-height: 30px;
    padding: 0em 1em;
  }
  .welcome__main__container__content__sub__heading {
    font-size: 14px;
  }
  .welcome__main__container__content__title {
    font-size: 16px;
  }
  .welcome__main__container__img {
    margin: 1em 0em;
  }
  .welcome__detail__sub__text__container__text__wraper {
    text-align: center;
    font-size: 16px;
  }
  .simplicity__main__col__text__heading {
    font-weight: 600;
    font-size: 24px;
  }
  .about__main__wraper {
    margin: 0em;
  }
  .about__main__wraper__heading {
    margin-bottom: 1em;
  }
  .welcome__main__container {
    margin-top: 9em;
  }
}
