$color: #012b84;
.header__navbar {
  width: 100%;
  // padding: 1em;
}
// .header__navbar__active {
//   background-color: #012b84;
//   color: white;
//   top: 0;
//   width: 100%;
// }

.header__nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 1rem;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 1.5em;
  background-color: rgba(254, 254, 254, 1);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.header__nav__container__logo img {
  width: 150px;
  cursor: pointer;
}
.header__nav__container__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
  animation: dropdown__list__nav__animation 500ms both;
  transform-origin: top;
  margin-top: 20em;
}
@keyframes dropdown__list__nav__animation {
  from {
    opacity: 0;
    left: 1em;
    transform: scaleY(0.5);
  }
  to {
    opacity: 1;
    left: 1em;
    transform: scaleY(1);
  }
}
.header__content__menu svg {
  color: white;
}
.header__nav__container__menu__links {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  margin: 0rem 0.5rem;
  cursor: pointer;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-weight: 600;
}
.header__nav__container__menu__links:hover {
  color: $color;
  font-weight: 600;

  transition: all 300ms ease-in-out;
}
.header__nav__container__menu__links__btn__mobile {
  display: none;
  // border: 1px solid white;
  margin: 1em 0em;
  align-items: center;
  justify-content: center;
  background-color: $color;
  padding: 0.8rem 1.3rem;
  border-radius: 30px;
  color: white;

  font-size: 1rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  text-decoration: none;
  font-weight: bold;
}
.header__nav__container__menu__links__btn__mobile:hover {
  background-color: white;
  color: $color;
  border: 1px solid $color;
  transition: all 300ms ease-in-out;
}
.header__nav__container__menu__links__btn {
  border: 1px solid white;
  background-color: $color;
  padding: 0.8rem 1.3rem;
  border-radius: 30px;
  color: white;
  margin-left: 2em;
  font-size: 1rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  text-decoration: none;
  font-weight: bold;
}
.header__nav__container__menu__links__btn:hover {
  background-color: white;
  color: $color;
  border: 1px solid $color;
  transition: all 300ms ease-in-out;
}
.header__content__menu {
  border: none;
  border-radius: 5px;
  min-width: 40px;
  min-height: 40px;
  padding: 0px;
  background-color: #012b84;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
}
.header__content__menu * {
  pointer-events: none;
}
@media screen and (max-width: 900px) {
  .header__nav__container__menu__links__btn__mobile {
    display: flex;
  }

  .header__content__menu {
    display: flex;
  }
  .header__nav__container__menu {
    flex-direction: column;
    position: absolute;
    background-color: black;
    color: $color;
    border-radius: 10px;
    right: 10px;
    z-index: 9999;
  }
  .header__nav__container__menu__links {
    // margin: 1em 0;
    color: white;
    padding: 0.6em 4em;
    margin: 0.3em;
    transition: 300ms ease-in-out;
  }
  .header__nav__container__menu__links:hover {
    color: #f4f4f7;
    background-color: #ffffff50;
    transition: 300ms ease-in-out;
  }
  .header__nav__container__menu__links__btn {
    border: 1px solid $color;
    color: white;
    margin: 1em 0em;
    display: none;
  }
}
// @media screen and (max-width: 1200px) {
//   .header__nav__container {
//     padding: 0em 0em;
//   }
// }
