/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(255, 255, 255);
  border-radius: 10px;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
  border-radius: 10px;
}

.pas__genrater__main__container {
  width: 100%;
  background-color: rgb(0, 0, 0);
  height: 100vh;
  max-width: 1366px;
  margin: 0 auto;
  padding: 1em;
  border-radius: 20px;
}
.pas__genrater__wraper__over {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
}
.pas__genrater__wraper {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(245, 244, 244);
  flex-direction: column;
  border-radius: 12px;
}
.pas__genrater__wraper__heading {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.5em 0;
}
.pas__genrater__wraper__input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  //   flex-direction: column;
  padding: 1em 2em;
}
.pas__genrater__wraper__input input {
  width: 100%;
  padding: 0.5em;
  outline: none;
  border: none;
}
.pas__genrater__wraper__input__btn {
  background-color: rgb(89, 91, 240);
  color: white;
  border: none;
  border-radius: 6px;
  padding: 0.5em 1em;
  cursor: pointer;
}
.pas__genrater__wraper__input__range input {
  cursor: pointer;
  color: black;
}
.pas__genrater__wraper__input__sub__wraper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 2em;
}
.search__input__container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 2em;
}
.search__input__container input {
  width: 100%;
  padding: 1em;
  outline: none;
  border: none;
  border-radius: 8px;
  background-color: transparent;
  color: white;
  border: 1px solid rgb(241, 241, 241);
}
.search__input__container input::placeholder {
  color: rgb(241, 241, 241);
}
.according__container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 2em;
  color: white;
}
.todo__container__bg {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
  background: rgb(10, 10, 10);
}
.todo__wraper {
  width: 100%;
  max-width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  padding: 2em;
}
.todo__wraper__heading {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 1em;
}
.todo__wraper__heading span {
  color: #e5c64f;
}
.input__task__entry {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.233);
  border-radius: 10px;
  margin-bottom: 2em;
}
.input__task__entry__input {
  background-color: transparent;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  border: none;
  outline: none;
  padding: 1em;
  color: white;
}
.input__task__entry__input::placeholder {
  color: #e5c64f;
}
.input__task__entry__btn {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 9px;
  padding: 0.7em 1.5em;
  cursor: pointer;
  margin: 0.3em;
  transition: 300ms ease-in-out;
  font-weight: 600;
}
.input__task__entry__btn:hover {
  background-color: #e5c64f;
  transition: 300ms ease-in-out;
  color: black;
}
.task__list__entry {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 1em;
  margin: 1em 0;
  border: 1px solid rgba(255, 255, 255, 0.233);
}
.task__list__entry__text {
  font-size: 14px;
}
.task__list__entry__icon__wraper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.task__list__entry__col {
  cursor: pointer;
}
.task__list__entry__col:hover {
  color: #e5c64f;
  transition: 300ms ease-in-out;
}
.task__list__entry__del {
  cursor: pointer;
}
.task__list__entry__del:hover {
  color: red;
  transition: 300ms ease-in-out;
}
.task__list__entry__wraper {
  height: 400px;
  overflow-y: auto;
  padding: 0 1em;
}
